@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("background.webp");
  background-attachment: fixed;
  background-size: cover;

  color: white;
  font-family: "Quicksand", "Lucida Console";
  letter-spacing: 0.05rem;
  font-size: 18px;
}

body, html {
  height: 70%;
}

p,li {
  font-size: 1em;
  margin: 1em 0;
}

h1 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

table {
  margin-top: 20px;
}

td {
  margin-right: 20px;
}

.parallax {
  background-image: url('parallax.webp');

  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, h3 {
  letter-spacing: .3rem;
  margin-bottom: 1em;
  font-weight: lighter;
  font-family: Courier;
}

header, footer, section {
    margin: 100px;
}

footer + ul {
  list-style-type:none;
}

a {
  color:white;
  text-decoration:none;
}

a:hover, a:focus {
    text-decoration:underline;
}
