@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

body {
  font-family: "Quicksand", "Lucida Console";
  letter-spacing: 0.05rem;
  
  width:90%;
  background-color: white;
}

section {
  padding-top: 30%;
}

.card{
  background: hsla(0,0,0,0);
}

.jumbotron {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#banner-bottom {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

footer {
  padding-bottom: 10%;
}




/* 
h1 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

h1, h2, h3 {
  letter-spacing: .3rem;
  font-weight: lighter;
  font-family: Courier;
}

footer + ul {
  list-style-type:none;
} */
