@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

body {
  font-family: "Quicksand", "Lucida Console";
  letter-spacing: 0.05rem;
  
  width:90%;
  background-color: white;
}

section {
  padding-top: 15%;
}

.jumbotron {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#banner-bottom {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.navbar {
  background-color: white;
}

.dark-mode {
  background-color: black;
  color: white;
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.btn-circle {
  width: 5em;
  height: 5em;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
